body{
    color: #181818;
    font-family: 'Segoe UI';
}

.imagem-logo{
    width: 150px;
}

.tabela-receitas{
    width: 90%;
}


.icone-suco{
    height: 20px;
}


footer{
    text-align: center;
    background-color: darkblue;
    color: white;
    font-size: 18px;
    padding: 10px;
    margin-top: 50px;
}

footer a{
    color: lightcoral;
}

nav{
    text-align: center;
    background-color: darkgray;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 8px;
}