{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'partials/header.html' %}
{% include 'partials/menu.html' %}
    <table class="table table-striped table-hover">
        <tr class="table-dark">
            <th>Receita</th>
            <th>Vídeo</th>
            <th>Ações</th>
        </tr>
        {% for chave, uma_receita in lista_receitas.items %}
            <tr>
                <td>
                    <img src="{% static 'suco.png' %}" class="icone-suco">
                    {{uma_receita}}
                </td>
                <td>https://www.youtube.com/watch?v=Nn9140bDPnc</td>
                <td><a href="{% url 'sucodelaranja' %}" class="btn btn-info">Ver receita completa</a></td>
            </tr>
        {% endfor %}
       
    </table>
{% include 'partials/footer.html' %}
{% endblock %}