<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PersonalCheff</title>
</head>
<body>
    <h1>PersonalCheff</h1>
    <h2>Seu site de receitas</h2>

    <table border="1">
        <tr>
            <th>Receita</th>
            <th>Vídeo</th>
            <th>Ações</th>
        </tr>
        <tr>
            <td>Suco de laranja</td>
            <td>https://www.youtube.com/watch?v=Nn9140bDPnc</td>
            <td><a href="sucodelaranja">Ver receita completa</a></td>
        </tr>
    </table>
</body>
</html>