{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'partials/header.html' %}
{% include 'partials/menu.html' %}
    <h2>{{uma_receita.nome_receita}}</h2>
    <h6>{{uma_receita.data_receita}}, Nota: {{uma_receita.nota}}</h6>
    <h4>Ingredientes</h4>
    <p>{{uma_receita.ingredientes|linebreaks}}</p>
    <h4>Modo de Preparo</h4>
    <p>{{uma_receita.modo_preparo|linebreaks}}</p>
    <h3>Vídeo</h3>
    <a href="{{uma_receita.video}}" target="_blank">Veja o vídeo aqui</a>
    <p>
        <a href="{% url 'index' %}">Voltar</a>
    </p>
{% include 'partials/footer.html' %}
{% endblock %}